<div class="header-style">

  <nav class="navbar navbar-expand-md navbar-light" style="width: 100%;">
    <a class="navbar-brand" style=" display: flex; flex-grow: 1; ">{{getGameName()}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" data-toggle="modal" data-target="#myModalBingo">What is Bingo</a>
        </li>
        <li class="nav-item" style="cursor: pointer;">
          <a class="nav-link" data-toggle="modal" data-target="#myModal">Rules to play</a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
           <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>-->
      </ul>
    </div>
  </nav>

</div>


<div class="modal fade" id="myModalBingo">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">What is Bingo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <span>
          <b> Bingo, </b>also known as <b>Lotto/Housie/Tambola</b>  is a game of chance in which each player matches
          numbers printed in different arrangements
          on cards with the numbers the game host <b>(caller)</b> draws at random, marking the selected numbers
          with tiles.
          <br> <br>
          When a player finds the selected numbers are arranged on their card in a row, they
          call out <b>"Bingo!"</b> to alert all participants to a winning card, which prompts the game host
          (or an associate assisting the host) to examine the card for verification of the win.
          <br>
          Players compete against one another to be the first to have a winning arrangement for the prize or jackpot.
          <br> <br>
          After a winner is declared, the players clear their number cards of the tiles and the game host
          begins a new round of play.
          <br>
          The Different Types of Bingo Game we provide :
          <br>
          <ul class="ml-4">
            <li>
              75 Ball (America’s Favourite)
            </li>

            <li>
              90 Ball (The Most Popular)
            </li>
          </ul>
          <h5>
            75 Ball Bingo
          </h5>
          The card for 75 ball bingo is a 5×5 grid with 25 squares. Of these, 24 contain
          numbers and the centre square is left blank.

          <br> <br>
          <h5>
            90 Ball Bingo
          </h5>
          Numbers are displayed randomly across 9 columns, with 5 numbers in each of the 3 rows.
          There are 15 numbers on each card overall.

        </span>
        <br>
        <br>

        <h5> Bingo is Bingo</h5>
        Whilst there are variations on playing cards, numbers, and some rules, the game always remains the same at its
        core.
        Bingo is always fun, always simple and always unmistakably itself.
        <br>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>


<!-- Rules modal-->


<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Rules to play Bingo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Well ofcourse, you are are going to play game on yours own rules.<br>
        But in case you want to know some standard rules generally being follow. Here are those:
        <br><br>
        <h5>
          90 Ball Bingo
        </h5>
        <br>
        <span>
          This type of bingo is probably the one you’re most familiar with if you’ve played bingo in a hall or club
          before. 90 Ball Bingo is very straightforward. You will buy a card that has a random set of numbers from 1-90
          on
          it.
          <br>
          <br>
          These numbers are set across nine columns and three rows. There are five numbers and four gaps per line.
          The
          aim is to complete a line before anyone else, and then go for a Full House.
          <br>
          <br>
          What’s great about 90 Ball Bingo is that it’s very much a classic game. The 9x3 ticket dates back hundreds of
          years and 90 Ball Bingo is seen as the godfather of the game. Bingo is thought to have originated in Europe
          and
          became popular in British towns at the start of the 1900s.
          <br>
          <br>
          If you’ve ever walked into a bingo hall and seen the tables set out, with prizes to be won and dauber pens at
          he
          ready, then you’ve probably also encountered 90 Ball Bingo.
          <br>
          There are three prizes to win in 90 Ball Bingo: 1 line, 2 lines and Full House. If more than one player hits
          the
          prize at the same time, it is shared (unless stipulated in the specific games rules).
          <br>
          <br>
          90 Ball Bingo is probably the easiest bingo game to understand and the one many newcomers to bingo will head
          to. <br>
          It’s reasonably fast but not overly complicated, making it the perfect game when you’re having an introduction
          to bingo.
        </span>
        <br>
        <br>
        <h5>
          75 Ball Bingo
        </h5>
        <br>
        <span>
          This version of bingo is quite different from 90 Ball Bingo — but the general principles remain the same. In
          75
          Ball Bingo there are only 75 numbers available, rather than 90. And the numbers are scattered on a different
          card to the one you receive in 90 Ball.

          <br><br>
          When you enter the suite for a 75 Ball Bingo game, you will buy your ticket and a number of cards (depending
          on
          the game). Each card will be split into a 5x5 grid, with ‘B-I-N-G-O’ running across the top. Your numbers sit
          in
          these rows, under a certain letter. This is important as we shall now see.
          <br><br>
          When a ball is called, it will be allocated a number AND letter. For example, N71 is called. If that matches
          the
          number and letter on your card, you can mark it. Don’t worry, our online bingo player will mark the card for
          you, so you don’t have to do anything but watch!
          <br>
          The beauty of 75 Ball Bingo is that there are more pay lines than 90 Ball Bingo.
          <br>
          The 75 Ball Bingo pay lines are as follows:
          <ul class="ml-4">
            <li>
              1 line
            </li>
            <li>
              2 line
            </li>
            <li>
              3 line
            </li>
            <li>
              4 line
            </li>
            <li>
              Full House
            </li>
          </ul>
          It is important to remember that Line 1 can be claimed vertically, horizontally or diagonally. However, lines
          2,
          3 and 4 can only be claimed horizontally. The Full House comes when your card is complete.
          <br><br>

        </span>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
      </div>

    </div>
  </div>
</div>
