<div class="context">
  <h1>Welcome to Bingo !!!</h1>
  <button id="blogLink" type="button" (click)="initiateGame()" class="bubbly-button">
    <i class="fa fa-superpowers mr-2" aria-hidden="true"></i>Setup Game</button>
</div>
<div class="context2">
  <div class='footer' th:include="footer::footer" style="color: white"></div>
</div>
<div class="context3">
  <!-- <a class="facebook customer share" href="https://www.facebook.com/sharer.php?u=https://codepen.io/patrickkahl" title="Facebook share" target="_blank">Facebook</a>
  <share-button button="copy"></share-button> -->
  <share-buttons theme="modern-light" show="1"></share-buttons>
</div>
<div class="area">
  <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
  </ul>
</div>
