<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all" href="static/styles/style.css" />
<link rel="stylesheet" type="text/css" media="all" href="static/styles/main.css" />
</head>

<body>

	<h1>Tambola slips for user : [[${bingoData.getEmail()}]]</h1>
	<h3>Game id : [[${bingoData.getGameId()}]]</h3>

	<div th:each="slip: ${bingoData.getResponses()}">
		<span th:text="'Slip id#' + ${slip.slipId}"
			style="font-size: 0.8em;"></span>
		<table id="slips">
			<tr th:each="item: ${slip.transformedMatrix}">
				<td th:each="j: ${item}"><span th:if="${j != 0}" th:text="${j}"></span></td>
			<tr>
		</table>
		<br>
	</div>
	<div class='footer' th:include="footer::footer"></div>
</body>

</html>