.footer-style {
  background: #4e54c8;
  color: #eee8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: .5em;

  svg {
    color: #e80606;
    margin: 0.2em .2em 0 .3em;
  }

  .abhinav-style {
    z-index: 100;
    color: white;
  }
}
