.card {
  margin-bottom: 4em;
  .form-group {
    margin-bottom: 0;
  }
}

.all-players-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding-left: 1.25rem;

    .players-list-wrapper {
      display: flex;
      max-height: 45vh;
      flex-direction: column;
      overflow: auto;

    .all-players {
      display:flex;
      align-items: center;
      padding: 0 0 .2em 0;

      .player-name-style {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 50%;
      }

      .email-status-style {
        font-size: 1.2em;
        margin-left: 0.3em;
        padding-top: 0.4em;

        .check-style,
        .exclamation-style {
          font-size: .7em;
          position: relative;
          left: .7em;
        }
        .check-style {
          font-size: 0.8em;
        }
      }
      .success {
        color: #28a745;
      }
      .fail {
        color: red;
      }
    }
  }

}
