<h5>Manage Players for Game</h5>

<div *ngIf="!playerSetupComplete">
  You can upload excel if there are many players. <br>
  Note: Excel can only have emails, Your player will be recongnised using their emails.
  <br>
  <a (click)="getSampleExcelLink()" style="color: blue">View  Sample Excel</a>
</div>
<br>

<div *ngIf="!playerSetupComplete">
  <input type="file" #fileInput placeholder="Upload file..." />
  <button type="button" class="btn btn-success" (click)="uploadExcel()">Upload</button>
</div>

<form [formGroup]="dynamicForm" (ngSubmit)="onSubmit()" class="col-sm-6" *ngIf="!playerSetupComplete">
  <div class="card m-3">
      <h5 class="card-header">Add Players Manually</h5>
      <div *ngFor="let player of t.controls; let i = index" class="list-group list-group-flush">
          <div class="list-group-item">
              <h5 class="card-title">Player {{i + 1}}</h5>
              <div [formGroup]="player" class="form-row">
                  <div class="form-group col-6">
                      <label>Name</label>
                      <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && player.controls.name.errors }" />
                      <div *ngIf="submitted && player.controls.name.errors" class="invalid-feedback">
                          <div *ngIf="player.controls.name.errors.required">Name is required</div>
                      </div>
                  </div>
                  <div class="form-group col-6">
                      <label>Email</label>
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && player.controls.email.errors }" />
                      <div *ngIf="submitted && player.controls.email.errors" class="invalid-feedback">
                          <div *ngIf="player.controls.email.errors.required">Email is required</div>
                          <div *ngIf="player.controls.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
              </div>
              <button class="btn btn-primary mr-1"(click)="removePlayer(i)">Remove</button>
          </div>
      </div>
      <div class="card-footer text-center">
          <button class="btn btn-primary mr-1" (click)="addPlayer()">Add Player</button>
          <button class="btn btn-primary mr-1"  [disabled]="numberOfPLayers < 1 || !isValid()">Submit Players</button>
          <button class="btn btn-secondary mr-1" type="reset" (click)="onReset()">Reset</button>
          <button class="btn btn-secondary" type="button" (click)="onClear()">Clear</button>
      </div>
  </div>
</form>

<div *ngIf="players">
  <h3>Players in Game</h3>
  <div *ngFor="let player of players; index as i;" style="padding: 0 0 .2em .5em">
    <span style="padding-right: 1em">{{i + 1}}.</span>
    <span>{{player.email}}</span>
    <app-modal [playerId]="player.id" [gameId]="gameId" style="margin-left:.5em"></app-modal>
  </div>
</div>

<!-- <button class="btn btn-primary mr-1" *ngIf="(playerSetupComplete) && !gameStarted" (click)="proceedGame()">Proceed to Game</button> -->
