<div class="setup" style="overflow: auto;">
  <br>
  <div class="row" style="width: 100%">
    <div class="col-sm-6">

      <button type="button" [routerLink]="['']" class="btn btn-danger ml-4 mb-4">Reset And Start New Game!!</button>
      <h4 *ngIf="!shouldStartGame" class="ml-4">Setup your Game</h4>

      <div class="m-4">
        <span *ngIf="!shouldStartGame">
          New Game is created :
        </span>
        <span>
          Game id# {{gameId}}
        </span>
      </div>

      <app-call-number *ngIf="shouldStartGame" [gameId]="gameId"></app-call-number>

      <div *ngIf="!leaderAssigned" class="col-md-12 col-lg-6 ml-4">
        <h5>Welcome!</h5>
        <h6>Being leader of game, please provide your name and email to proceed</h6>
        <br>
        <form [formGroup]="leaderForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input [class.is-invalid]="leaderForm.get('name').invalid && leaderForm.get('name').touched"
              class="form-control" formControlName="name" placeholder="Name" />
          </div>
          <div class="form-group">
            <input [class.is-invalid]="leaderForm.get('email').invalid && leaderForm.get('email').touched" type="email"
              class="form-control" formControlName="email" placeholder="Email" />
          </div>
          <button type="submit" class="btn btn-success" [disabled]="leaderForm.status !== 'VALID'">Add me as
            leader</button>
        </form>
      </div>
    </div>
    <div class="col-sm-6">
      <br> <br> <br>
      <app-manage-player [gameId]="gameId" [gameStarted]="shouldStartGame" [playerSetupComplete]="playerSetupComplete"
        (isPlayerSetupReady)="getPlayerSetupStatus($event)" *ngIf="leaderAssigned"></app-manage-player>
    </div>
  </div>
</div>
