<button class="btn btn-info" (click)="open(mymodal)">View Slips</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Welcome {{playerEmail}} !!!</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div style=" display: flex; flex-direction: row-reverse; margin-right: 2em">
      <button class="btn btn-success" type="button" (click)="downloadSlipPdf()">Download Slips</button>
    </div>
    <div *ngIf="slipResponse">
      <div class="slip-wrapper-style" *ngFor="let res of slipResponse.responses; index as i;">
        <span>Slip No: {{i+1}}</span>
        <table id="slips">
          <tr *ngFor="let item of res.transformedMatrix">
            <td *ngFor="let j of item"><span *ngIf="j!=0">{{j}}</span></td>
          <tr>
        </table>
        <span style="font-size: 0.8em;display: flex;flex-direction: row-reverse;max-width: 40em;">id# {{res.slipId}} </span>
      </div>
    </div>
  </div>
</ng-template>
