@import url('https://fonts.googleapis.com/css?family=Libre Barcode 39');


.barcode {
  font-family: 'Libre Barcode 39';
  padding-top: 9px;
}

.check-style {
  position: absolute;
  font-size: 2.5em;
  left: 0.2em;
  top: -0.05em;
  opacity: 0.35;
  color: red;
}

.slips {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slips {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

#slips td, #slips th {
  border: 1px solid #d6ff90;
  text-align: center;
  width: 3em;
  height: 3em;
  cursor: pointer;
  position: relative;
}

#slips td:nth-child(even) {
	background-color: #eeffd1;
}

#slips td:hover {
	background-color: #ddd;
}

#slips th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}

.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
}
