<button class="btn btn-info button-style" (click)="open(mymodal)">
  <i class="fa fa-eye" aria-hidden="true" style="margin-right: .5em"></i>Slips</button>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">Welcome {{player.name}}  {{player.email}}!!!</h5>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div style=" display: flex; flex-direction: row; margin-right: 2em">

      <div style="display: flex; flex-grow: 1;">
         <button class="btn btn-success" type="button" (click)="showId()">
          <i class="fa fa-eye" aria-hidden="true" style="margin-right: .5em"></i>View player Unique Id
        </button>
      </div>
      <button class="btn btn-success" type="button" (click)="downloadSlipPdf()">
        <i class="fa fa-download" aria-hidden="true" style="margin-right: .5em"></i>Download Slips</button>
    </div>
    <div class="barcode" *ngIf="!showPlayerId"><h2>Libre Barcode</h2></div>
    <div *ngIf="showPlayerId" class="mb-4 p-1"><a>{{player.id}}</a></div>

    <div *ngIf="slipResponse" class="slips">
      <div class="slip-wrapper-style" *ngFor="let res of slipResponse.responses; index as i;">
        <span>Slip No: {{i+1}}</span>
        <table id="slips">
          <tr *ngFor="let item of res.transformedMatrix; index as i;">
            <td *ngFor="let col of item; index as j;">

              <span *ngIf="is75Board && i==2 && j==2">Free</span>

              <span *ngIf="col!=0 && col<1000">{{col}}</span>
              <span *ngIf="col!=0 && col>1000">{{col-1000}}</span>
              <i class="fa fa-times check-style" aria-hidden="true" *ngIf="col>=1000"></i>
            </td>
          </tr>
        </table>
        <span style="font-size: 0.8em;display: flex;flex-direction: row-reverse;max-width: 40em;">id# {{res.slipId}} </span>
      </div>
    </div>
  </div>
</ng-template>
