<!DOCTYPE html>
<!-- <html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title th:text="${bingo_welcome_title}">Bingo Multiplayer</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	
	<link th:href="@{/styles/homepage-effect.css}" rel="stylesheet" />
	<link th:href="@{/styles/button-effect.css}" rel="stylesheet" />
</head>
<body>
	<div class="context">
		<h1 th:text="${bingo_welcome_heading}">Default Header</h1>
		<button id="blogLink" type="button" class="bubbly-button">Setup Game</button>
	</div>
	<div class="context2">
		<<div class='footer' th:include="footer::footer"></div>
	</div>
	<div class="area">
		<ul class="circles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<script th:src="@{/scripts/button.js}"></script>
</body>
</html>
