@import "../modal/modal.component.scss";

.gameroom {
  width: 100%;
  overflow: auto;
  height: 100vh;
  padding-top: 2em;
  background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #b7e8eb 100%);

  .bingo-img-style-wrapper {
    display: flex;
    justify-content: center;
    height: 50vh;
    position: absolute;
    top: 28%;
    width: 100vw;
    opacity: 0.15;

    .bingo-img-style {
      background-image: url(/assets/bingo_png.png);
      background-repeat: no-repeat;
      background-size: auto;
      background-size: contain;
      width: 50vw;
      height: 100%;
    }
  }

}

.messages {
  svg {
    font-size: 1.5em;
    color: #57b958;
  }
}


.slip-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  flex-wrap: wrap;
  overflow: auto;
}

.slip-wrapper-style {
  padding: 1em;
  max-width: 30em;
}

@media screen and (max-width:500px) {
  .slip-wrapper {
    flex-wrap: nowrap;
    overflow-y: auto;
    max-height: unset;
  }
}
