<div class="gameroom">

  <div  class="bingo-img-style-wrapper">
    <div class="bingo-img-style">
    </div>
  </div>
<br>
  <h4 class="p-4"> Welcome!!!</h4>
  <div class="row" style="width: 100%">

    <div class="col-sm-4">
      <span *ngIf="!lastCall" class="ml-4" style=" color: #1c7588; font-size: 2.5em; display: flex; ">Game is yet to start !!!</span>
      <span *ngIf="lastCall" class="ml-4" style=" color: #1c7588; font-size: 2.5em; ">Last Call# {{lastCall}}</span>
      <div class="m-4" style=" display: flex; flex-direction: column; max-height: 50vh; flex-wrap: wrap; ">
        <div *ngFor="let call of calls; index as i;">
          <span>{{i+1}}: </span>
          <span>{{call}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-8">

      <div class="form-group col-sm-8 col-md-6 col-lg-4" *ngIf="!joinGameViaLink">
        <label for="enterExistingGame">Enter Your Unique Id to view your slips:</label>
        <div style=" display: flex; ">
          <input class="form-control" placeholder="player id" id="playeruniqueid"
          [(ngModel)]="playeruniqueid" />
          <button type="submit" class="btn btn-success ml-2" (click)="viewSlips()">Submit</button>
        </div>
      </div>

      <div class="form-group col-sm-8 col-md-6 col-lg-4" *ngIf="joinGameViaLink">
        <div style="display: flex;justify-content: center;">
          <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#joinGame">Join Game</button>
        </div>
      </div>

      <div *ngIf="slipResponse" class="slip-wrapper" >
        <div class="slip-wrapper-style" *ngFor="let res of slipResponse.responses; index as in;">
          <span>Slip No: {{in+1}}</span>
          <table id="slips">
            <tr *ngIf="is75Board">
              <th>B</th>
              <th>I</th>
              <th>N</th>
              <th>G</th>
              <th>O</th>
            </tr>
            <tr *ngFor="let item of res.transformedMatrix; index as i">
              <td *ngFor="let col of item; index as j;" (click)="clickOnNumber(i, j, res.slipId)">

                <span *ngIf="is75Board && i==2 && j==2" class="free-space-wrapper">
                  <span  class="free-space-style">Free Space</span>
                </span>

                <span *ngIf="col!=0 && col<1000">{{col}}</span>
                <span *ngIf="col!=0 && col>1000">{{col-1000}}</span>
                <i class="fa fa-times check-style" aria-hidden="true" *ngIf="col>=1000"></i>
              </td>
            </tr>
          </table>
          <span style="font-size: 0.8em;display: flex;flex-direction: row-reverse;max-width: 40em;">id# {{res.slipId}} </span>
        </div>
      </div>


    </div>

  </div>
  <button type="button" [routerLink]="['']" class="btn btn-danger ml-2 mb-4" style=" position: absolute; bottom: 1em; ">
    <i class="fa fa-ban" aria-hidden="true"></i> Restart New Game!!</button>

</div>



<div class="modal fade" id="joinGame">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="m-0">Enter Player Details</h5>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

        <div class="form-group">
          <input class="form-control" placeholder="Player Name" id="playerName" [(ngModel)]="playerName">
        </div>

        <div class="form-group">
          <input class="form-control" placeholder="Player Email" id="playerEmail" [(ngModel)]="playerEmail">
        </div>

       <button type="button" class="btn btn-success" data-dismiss="modal" (click)="joinPlayer()">Join Game</button>

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
      </div>

    </div>
  </div>
</div>
