.gameroom {
  height: 95vh;
  width: 100%;
  overflow: auto;
  background: radial-gradient(ellipse at center, rgba(255, 254, 234, 1) 0%, rgba(255, 254, 234, 1) 35%, #b7e8eb 100%);
}

.messages {
  svg {
    font-size: 1.5em;
    color: #57b958;
  }
}

.slip-wrapper {
  display: flex;
  flex-direction: column;
  max-height: 65vh;
  flex-wrap: wrap;
  overflow: auto;
}

.slip-wrapper-style {
  padding: 1em;
  max-width: 30em;
}

@media screen and (max-width:500px) {
  .slip-wrapper {
    flex-wrap: nowrap;
    overflow-y: auto;
    max-height: unset;
  }
}

#slips {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#slips td, #slips th {
	border: 1px solid #d6ff90;;
	text-align: center;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}

#slips td:nth-child(even) {
	background-color: #eeffd1;;
}

#slips td:hover {
	background-color: #ddd;
}

#slips th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #4CAF50;
	color: white;
}
