@charset "ISO-8859-1";

h1 {
	margin: .3em 0;
}

h2 {
	font-family: sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	display: inline-flex;
	margin: .3em 0;
}

h4 {
	display: inline-flex;
	margin: 0;
}

i.fa {
    color: #57b958;
}

.user-email-style {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: .5em;
}

.user-email-style div {
	display: flex;
	width: 50%;
}

.user-email-style div.player-name-wrapper {
	flex-grow: 1;
}

.instructions-style {
    font-size: 1.2em;
   padding: 1em 1em 0 1em;
}

.slip-link {
	background: #1f8dec;
    color: white;
    padding: .5em 1em;
    border-radius: 1em;
    width: 7em;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

.call-style {
	font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    font-size: 3em;
    color: #015871;
}

.game-display {
	height: 90vh;
	display: flex;
}

.called_calls {
	display: flex;
	flex-direction: column;
	overflow: auto;
	margin-bottom: 1em;
	flex-wrap: wrap;
	max-height: 42vh;
	height: 42vh;
	font-size: 1.2em;
	background: radial-gradient(#274727, #031c23);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-left: 1em;
}

.copyright-text {
	padding-left: 1em;
	font-size: 1.2em;
}

.called_calls h4 {
	margin: .1em 0;
}

.btn-info.call-number-button {
	height: 6em;
    border-radius: 6em;
}

.left-container {
	width: 70%;
	padding: 1em .5em .5em 2em;
}

.left-container h3 {
	margin: 0.5em 0;
}

.right-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	overflow: auto;
    padding: 1em;
}

.right-container .form-group input {
	margin: .5em 0;
	width: 60%;
}

.right-container h4 {
	margin: .1em 0;
}

.all-calls-style span {
	padding-right: .3em;
}
